{
  "presets": [["import", {
  "libraryName": "antd",
  "style": true,   // or 'css'
}],"react-native-stage-0", "babel-preset-react", "babel-preset-env"],
  "plugins": [
	  "transform-decorators-legacy",
	   "babel-plugin-syntax-dynamic-import",
	  "transform-class-properties", "transform-object-rest-spread", "transform-do-expressions", "syntax-trailing-function-commas"
  ]
}
