@import 'base';
@import '~bootstrap/scss/bootstrap.scss';
@import 'material-ui.scss';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


// Contact Card
.contact-card {
	background: lightgray;
	margin-top: 15px;

	.card-line {
		font-size: 18px;
		margin-bottom: 5px;
	}
	div{
		font-size:16px;
	}
}

.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
  width: 100%;
}
.avatar-uploader {
  display: block;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
}
.avatar-uploader-trigger {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #999;
}


@media screen and (min-width: 1200px) {
	.bricklayer-column-sizer {
	  /* divide by 3. */
	  width: 33.3%;
	}
  }
  
  @media screen and (min-width: 768px) {
	.bricklayer-column-sizer {
	  /* divide by 2. */
	  width: 50%;
	}
  }